---
import ThemeToggle from './ThemeToggle.astro';
import { SITE_TITLE } from '../consts';
---

<header class="sticky top-0 z-50 m-0 px-4 backdrop-blur-md transition-all duration-200  supports-backdrop-blur:dark:bg-gray-900/60">
	<nav class="flex items-center justify-between h-20">
		<h2 class="m-0 text-base font-bold"><a href="/" class="no-underline text-black dark:text-white">{SITE_TITLE}</a></h2>
		<div class="flex items-center gap-2">
			<ThemeToggle />
		</div>
	</nav>
</header>